thead {
    width: 100%;
}

.contact-table > thead > tr > th {
    width: 25%;
    max-width: 280px;
    min-width: 250px;
    border-bottom: 1px solid black;
    padding: 8px 0;
    text-align: left;
    font-weight: bold;
    color: rgb(100, 100, 100);
    _margin: 5px;
}

.contact-table > thead > tr > th:first-child {
    padding-left: 10px;
}

.contact-table > thead > tr > th:last-child {
    _width: 6%;
    max-width: 100px;
    min-width: 50px;
}

.add-button {
    width: 25px;
    height: 25px;
    padding: 8px;
    border-radius: 50%;
}

.add-button:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}